
body, html {
  overflow-x:hidden;
  height: 100%;
}

body {
  background-image: linear-gradient(to right bottom, #448571, #68a3a5, #9fbfcd, #d5dde8, #ffffff);
  font-family: 'Anton', sans-serif;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  font-size: 1.5em !important;
}

.main {
  margin-top: 5%;
  min-height: 80%;
}

.navbar-custom {
  background: transparent !important;
  font-family: 'Anton', sans-serif;
}

a {
  color: #fff !important;
}

a:hover {
  background: transparent !important;
  color: #393939 !important;
}

.searchbar {
  margin-top: 20px;
  margin-bottom: 50px;
}

#map {
    height: 500px;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.input-cont {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.search-styling {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.btn-primary {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
}
