﻿<!DOCTYPE html>
<html ng-app="CodeTaskApp">
    <head>
        <title>Code Test</title>
        <meta charset="UTF-8">
        <meta name="description" content="AngularJS, foursquare api, google maps api simple web app" />
        <meta name="author" content="Karolos Talvis">

        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/venuesSearchService.js"></script>
        <!-- Import the following from cdn -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body ng-controller="MainController as mainCtrl">

        <nav class="navbar navbar-custom">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">CODING TASK</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://bitbucket.org/sckarolos/code_task/overview"><span class="fa fa-bitbucket-square"></span> WATCH ON BITBUCKET</a></li>
            </ul>
          </div>
        </nav>

        <div class="container main">
          <div class="col-md-6">
            <div class="searchbar">
              <form>
                  <div class="pull-left input-cont">
                      <input style="z-index: 9999;" type="text" class="form-control" ng-model="mainCtrl.place" placeholder="Search for a place.." />
                  </div>

                  <div class="pull-left">
                      <button ng-click="mainCtrl.doExplore()" class="btn btn-primary search-styling">Search</button>
                  </div>
              </form>
            </div>
            </br>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Rating</th>
                  <th>Website</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in mainCtrl.items" ng-click="mainCtrl.setSelectedItem(item, $index)" ng-class="{active: $index===mainCtrl.selectedIndex}">
                  <td>{{item.venue.name}}</td>
                  <td>{{item.venue.location.address}}</td>
                  <td>{{item.venue.rating}}</td>
                  <td class="text-center">
                    <a href="{{item.venue.url}}">
                      <span class="glyphicon glyphicon-link"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="col-md-6">
              <div id="map"></div>
            </div>
        </div>
    </body>
    <!-- Call google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVhf-mE2Utxc8xq408_BL6Bsxqw_IbRIo"></script>
</html>
